
    html, body {
      height: 100%;
    }
    #actions {
      margin: 2em 0;
    }


    /* Mimic table appearance */
    div.table {
      display: table;
    }
    div.table .file-row {
      display: table-row;
    }
    div.table .file-row > div {
      display: table-cell;
      vertical-align: top;
      border-top: 1px solid #ddd;
      padding: 8px;
    }
    div.table .file-row:nth-child(odd) {
      background: #f9f9f9;
    }



    /* The total progress gets shown by event listeners */
    #total-progress {
      opacity: 0;
      transition: opacity 0.3s linear;
    }

    /* Hide the progress bar when finished */
    #previews .file-row.dz-success .progress {
      opacity: 0;
      transition: opacity 0.3s linear;
    }

    /* Hide the delete button initially */
    #previews .file-row .delete {
      display: none;
    }

    /* Hide the start and cancel buttons and show the delete button */

    #previews .file-row.dz-success .start,
    #previews .file-row.dz-success .cancel {
      display: none;
    }
    #previews .file-row.dz-success .delete {
      display: block;
    }

    .hierarquias-classe{
      display: table;
      width: 100%;
    }

    .hierarquia-cell {
      table-layout: table-cell;
    }

    .hierarchyWrapper{
      width: 40% !important;
      position:relative;
      margin-top: 20px;
      border: 3px dashed #304FFE; 
      border-radius: 25px;
      padding-bottom: 30px;
      margin-right: 30px;
    }

    .selectHierarchy{
      position: relative;
      margin-top: 10px;
      left:41%;
      width: 45% !important;
    }

    .btn-adicionar{
      position:relative;
      margin-top: 20px;
      left:52%;
      margin-bottom: 50px;
    }

    .hierarquiaNameWrapper{
      position:relative;
      margin-top: 10px;
      left: -4vw;
      margin-bottom: 10px;
    }

    .treeElement{
      position:relative;
      margin-top: 3vh;
      width:45%;
      left: 41%;
    }

    .buttons{
      display: flex;
      justify-content: center;
    }

    .separate-buttons-left {
      margin-left:10vw !important;
      position:relative;
    }

    .separate-buttons-right {
      margin-right:10vw !important;
      position:relative;
    }
    
    .breadcrumbs{
      margin-top: 20px;
    }

    .upload-step{
      font-size: 30px;
    }

  