<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WikiOlap - Metadata</title>

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="{% static 'simple-sidebar.css'%}" rel="stylesheet">
    <link href="{% static 'dropzone.css'%}" rel="stylesheet">
    <link href="{% static 'custom.css'%}" rel="stylesheet">
    <link href="{% static 'bootstrap-table.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <link href="{% static 'bootstrap-treeview.min.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"
    />

</head>

<body>

    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        <i class="fa fa-database" aria-hidden="true"></i> Wiki Olap
                    </a>
                </li>
                <li class="side-menu-item">
                    <a href="/"> <i class="fa fa-home" aria-hidden="true"></i> Home</a>
                </li>
                <li class="side-menu-item">
                    <a href="/wiki_olap_help"> <i class="fa fa-question-circle" aria-hidden="true"></i> Ajuda</a>
                </li>
                <li class="side-menu-item">
                    <a href="/upload_file"> <i class="fa fa-cloud-upload" aria-hidden="true"></i> Enviar Dataset</a>
                </li>
                <li class="side-menu-item">
                    <a href="/search_metadata"> <i class="fa fa-search" aria-hidden="true"></i> Buscar Datasets</a>
                </li>
            </ul>
        </div>
        <div class="container-fluid">
            <div class="breadcrumbs row form-group">
                <div class="col-xs-12">
                    <ul id="wizardId" class="nav nav-pills nav-justified thumbnail setup-panel">
                        <li id="step1Breadcrumb" class="disabled">
                            <a href="#step-1">
                                <h4 class="list-group-item-heading">1º Passo</h4>
                                <i class="fa fa-3x fa-cloud-upload" aria-hidden="true"></i>
                                <p class="list-group-item-text">Upload</p>
                            </a>
                        </li>
                        <li id="step2Breadcrumb" class="active">
                            <a href="#step-2">
                                <h4 class="list-group-item-heading">2º Passo</h4>
                                <i class="fa fa-3x fa-edit" aria-hidden="true"></i>
                                <p class="list-group-item-text">Descrição</p>
                            </a>
                        </li>
                        <li id="step3Breadcrumb" class="disabled">
                            <a href="#step-3">
                                <h4 class="list-group-item-heading">3º Passo</h4>
                                <i class="fa fa-3x fa-tags" aria-hidden="true"></i>
                                <p class="list-group-item-text">Tags</p>
                            </a>
                        </li>

                        <li id="step4Breadcrumb" class="disabled">
                            <a href="#step-4">
                                <h4 class="list-group-item-heading">4º Passo</h4>
                                <i class="fa fa-3x fa-sitemap" aria-hidden="true"></i>
                                <p class="list-group-item-text">Hierarquias</p>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div id="secondStepId" class="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="text-left">
                        <div id="metadataFormId" class="form-horizontal">
                            <fieldset>
                                <!-- Form Name -->
                                <legend>Informações sobre o dataset</legend>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="title">Título</label>
                                    <div class="col-md-4">
                                        <input id="title" name="title" type="text" placeholder="" class="form-control input-title" required>
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="description">Descrição</label>
                                    <div class="col-md-4">
                                        <textarea id="descriptionId" name="description" form_id="metadataFormId" rows="6" cols="44" required> </textarea>
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="source">Fonte</label>
                                    <div class="col-md-4">
                                        <input id="source" name="source" type="text" placeholder="" class="form-control input-title" required>
                                        <span class="help-block">Utilze preferencialmente uma URL. Ex.: dados.gov.br</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="source">Email</label>
                                    <div class="col-md-4">
                                        <input id="contactEmail" name="source" type="email" placeholder="" class="form-control input-title" required>
                                    </div>
                                </div>

                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="display:none" id="thirdStepId" class="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="text-left">
                        <div id="metadataFormId" class="form-horizontal">
                            <fieldset>
                                <legend>Tags</legend>
                                <span class="help-block">Você pode adicionar tags para as colunas de seu dataset! <br>
                                    Isso ajuda na indexação de seu dataset em nosso banco de dados. <br>
                                    Aqui você também pode editar os nomes das colunas se desejar, basta clicar sobre eles. <br>
                                    Utilizar nomes amigáveis facilita a busca do dataset em nosso repositório. </span>
                                <div id="columnsTags">
                                    {% for column in columnNames %}
                                    <div id="columnsId" class="form-group">
                                        <label class="col-md-4 control-label" for="{{column}}"> <a class="column-alias" id="{{column}}Editable"> {{column}} </a> </label>
                                        <select id="{{column}}Id" style="width:30%;" class="select2" multiple>
                                            <option value="Ano">Ano</option>
                                            <option value="Bairro">Bairro</option>
                                            <option value="Cidade">Cidade</option>
                                            <option value="Estado">Estado</option>
                                            <option value="Dia">Dia</option>
                                    </select>
                                    </div>
                                    {% endfor %}
                                </div>
                                <br>
                                <!-- Button -->
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="display:none" id="finalStepId" class="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="text-left">
                        <div id="metadataFormId" class="form-horizontal">
                            <fieldset>
                                <legend>Hierarquia de Dados</legend>
                                <span class="help-block"> Caso existam dados hierárquicos em seu dataset você pode definir essa(s) hierarquias aqui. <br>
                                    Se você não sabe o que são hierarquias de dados, <a href="#">clique aqui</a> para saber mais.</span>

                                <span class="btn btn-success" id="addHierarchy">
                                        <i class="glyphicon glyphicon-plus"></i>
                                        <span>Adicionar hierarquia</span>
                                </span>

                                <div class="hierarquias-classe" id="hierarquias">
                                </div>
                                <br>
                                <!-- Button -->
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="preview-dataset">
            <i id="closePopoverId" class="close-popover fa fa-2x fa-times"></i>
            <table id="dataTableId" data-toggle="table" data-editable="true">
                <thead>
                    <tr>
                        {% for column in columnNames %}
                        <th>
                            {{column}}
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for entry in data %}
                    <tr>
                        {% for value in entry %}
                        <td>{{value}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
        <footer class="footer">
            <div class=" navbar footer-custom navbar-fixed-bottom buttons">
                <div class="form-group separate-buttons-preview">
                    <label class="col-md-4 control-label" for="previewDataset"></label>
                    <div class="col-md-4">
                        <a data-toggle="popover" data-placement="top" id="showPreviewDataset" class="btn btn-lg btn-default"> Preview do Dataset </i></a>
                    </div>
                </div>
                <div class="form-group separate-buttons-right">
                    <label class="col-md-4 control-label" for="goBackwards"></label>
                    <div class="col-md-4">
                        <button id="goBackwardsId" class="btn btn-lg btn-default"><i class="fa  fa-chevron-left" ></i> Voltar </button>
                    </div>
                </div>
                <div class="form-group separate-buttons-left">
                    <label class="col-md-4 control-label" for="goForward"></label>
                    <div class="col-md-4">
                        <button id="goForwardId" class="btn btn-lg btn-primary">Próximo <i class="fa  fa-chevron-right" ></i></button>
                    </div>
                </div>
            </div>
        </footer>
    </div>


    <script src="{% static 'jquery.js' %}"></script>
    <script src="{% static 'dropzone.js' %}"></script>
    <script src="{% static 'jquery_dropzone.js' %}"></script>
    <script src="{% static 'bootstrap-table.js' %}"></script>
    <script src="{% static 'bootstrap-table-editable.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="{% static 'bootstrap-treeview.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>
    <script src="{% static 'bootstrap-waitingfor.min.js' %}"></script>
    <script src="{% static 'custom.js' %}"></script>
    <script src="https://use.fontawesome.com/b4043f9797.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>





</body>

</html>